<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55322468254-l8jtkjr96ajprrvjkm4h8gaddpvs49qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55322468254-l8jtkjr96ajprrvjkm4h8gaddpvs49qk</string>
	<key>API_KEY</key>
	<string>AIzaSyDaq-dKqcY7zAi1H_Q_kt99Q0Xg7kfa5BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>55322468254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.tecacademy.sonoka.yashiro.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-1590c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1590c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55322468254:ios:63da9c4e7a4e0cf126008f</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-1590c.firebaseio.com</string>
</dict>
</plist>